<footer class="site-footer">

  <div class="wrapper">
</br>
    <h2 class="footer-heading">Contact</h2>

    <div class="footer">

        <h3 class="contact-list">
<li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}

</li>
<li>
            {% if site.phone %}
            Call {{ site.phone | escape }}
            {% endif %}
            </li>
<li>
            {% if site.email %}
            email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}

          </h3>
</br>
        <div class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </div>


    </div>

  </div>

</footer>
